.text {

    &--bold {
        font-weight: bolder;
    }

    &--light {
        font-weight: 500;
    }

    &--italic {
        font-style: italic;
    }

    &--center {
        text-align: center;
        justify-content: center;
    }

    &--white {
        color: white;
    }

    &--gray {
        color: gray;
    }

    &--small {

        font-size: .9rem;
    }

    &--big {
        font-size: 1.3rem;

    }
}