.user-received {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 80vh;
    animation: appear 0.4s;
    &__nav {
        display: flex;
        padding: 1rem;
        gap: 1rem;
        align-items: center;
        &__title {
            font-weight: bolder;
            font-size: 1.3rem;
        }
        &__button {
            background-color: #006cd8;
            color: white;
        }
    }
    &__nav-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__select {
            border: 1px solid #f0f0f0;
            padding: 0.5rem;
            width: min-content;
            cursor: pointer;
            margin: 0.5rem;
        }
    }
}

.user-received-file {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    &__container-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__title {
            text-align: center;
            padding: 1rem;
            font-size: 1.5rem;
        }
        &__content-process {
            display: flex;
            flex-direction: row;
            width: 70%;
            justify-content: space-between;
            position: relative;
            &__pointer {
                z-index: 1;
                color: white;
                background-color: #f0f0f0;
                padding: 0.5rem;
                width: 1rem;
                height: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                transition: background-color ease-out 0.2s;
                &--focused {
                    background-color: #006cd8;
                    animation: jump 0.2s forwards;
                }
            }
            &__line {
                width: 100%;
                height: 2px;
                background-color: #f0f0f0;
                position: absolute;
                top: 50%;
                left: 0;
                z-index: 1;
                display: flex;
                transition: all ease-out 0.2s;
                &--step12 {
                    &::before {
                        width: 33%;
                        height: 2px;
                        content: "";
                        background-color: #006cd8;
                    }
                }
                &--step123 {
                    &::before {
                        width: 66%;
                        height: 2px;
                        content: "";
                        background-color: #006cd8;
                    }
                }
                &--step1234 {
                    &::before {
                        width: 100%;
                        height: 2px;
                        content: "";
                        background-color: #006cd8;
                    }
                }
            }
        }
    }
    &__container {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: 1rem;
        &__main {
            justify-content: center;
            display: flex;
            align-items: center;
            flex-grow: 1;
            flex-direction: column;
            gap: 1rem;
            animation: appear 0.4s;

            p {
                width: 40%;
                min-width: 5rem;
                text-align: center;
            }
            nav {
                display: flex;
                flex-direction: row;
                gap: 1.5rem;
                button {
                    padding: 1.5rem 3rem;
                    width: 16rem;
                    font-size: 1rem;
                }
            }
        }
        &__search-remitter {
            animation: appear 0.4s;
        }
        &__create-remitter {
            padding: 1rem 3rem 0rem 3rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            flex-grow: 1;
            animation: appear 0.4s;
            &__title {
                font-weight: bolder;
            }
            &__content {
                display: flex;
                gap: 1rem;
                border-top: 1px solid #bebebe;
                padding: 1rem;
                flex-wrap: wrap;

                &__advice {
                    width: 100%;
                }
                &__select-type {
                    display: flex;
                    gap: 1rem;
                    &__text {
                    }
                }
                &__select {
                    border: 1px solid #f0f0f0;
                    &__option {
                    }
                }
                &__form {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0rem 2rem;

                    &__card {
                        flex: 0 0 calc(30% - 10px);
                        margin: 0.5rem;
                        display: flex;
                        gap: 0.5rem;
                        flex-direction: row;
                        align-items: center;
                        input,
                        select {
                            border: 1px solid #f0f0f0;
                            width: 100%;
                            padding: 0.5rem;
                            box-sizing: border-box;
                            transition: all ease-out 0.2s;
                        }
                    }
                }
            }
        }
        
    }
    &__buttons-nav {
        display: flex;
        gap: 1rem;
        justify-content: center;
        &__button {
            position: absolute;
            top: 0;
            left: 0;


            &--in-line{
                position: relative;
            }
        }
    }
    .listUser {
        padding: 1rem;
        border: 1px solid gray;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        max-height: 100%;
        overflow: auto;

        li {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            gap: 0.4rem;

            background-color: #dcdcdc;

            div {
                padding: 0.4rem;
                width: 50%;

                &:first-child {
                    width: 20%;
                }

                &:last-child {
                    width: 30%;
                }
            }
        }
    }
}

@keyframes jump {
    0% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
