// Librerias

/* Basic editor styles */
.tiptap {
    height: 100%;
}
.tiptap {
    &:focus {
        outline: none;
    }
    > * + * {
        margin-top: 0.75em;
    }

    ul, ol {
        margin: 0 1rem;
        padding: 0 1rem;
    }

    ul > li {
        list-style: initial;
    }

    ol > li {
        list-style: decimal;
    }

    h1 {
        font-size: xx-large;
        line-height: 1.1;
    }

    h2 {
        font-size: x-large;
        line-height: 1.1;
    }

    h3 {
        font-size: large;
        line-height: 1.1;
    }

    h4 {
        font-size: medium;
        line-height: 1.1;
    }

    h5 {
        font-size: small;
        line-height: 1.1;
    }

    h6 {
        font-size: x-small;
        line-height: 1.1;
    }

    code {
        background-color: rgba(#616161, 0.1);
        color: #616161;
    }

    pre {
        background: #0d0d0d;
        color: #fff;
        font-family: "JetBrainsMono", monospace;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;

        code {
            color: #fff;
            padding: 0;
            background: none;
            font-size: 0.8rem;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    blockquote {
        padding-left: 1rem;
        border-left: 2px solid gray;
    }

    hr {
        border: none;
        border-top: 2px solid gray;
        margin: 2rem 0;
    }

    s {
        text-decoration: line-through;
    }

    u {
        text-decoration: underline;
    }

    strong {
        font-family: system-ui, sans-serif;
    }

}

/* Placeholder (at the top) */
.tiptap p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
}